@-webkit-viewport {
  width: device-width; }
@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box; }
  *::before, *::after {
    box-sizing: border-box;
    content: ''; }

a, li, ul, nav, p, h1, h2 {
  text-decoration: none;
  text-transform: none;
  font-style: none;
  font-variant: none;
  list-style: none; }

a, p, h1, h2, h3, cite, em, b {
  font-family: helvetica, arial, sans-serif;
  font-variant: none;
  text-decoration: none; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul, nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

textarea {
  resize: none; }

input, select {
  vertical-align: middle; }

.nobr {
  white-space: nowrap; }

a.nobr {
  display: inline-block; }

._f_w {
  width: 100%; }

._f_h {
  height: 100%; }

._hide {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important; }

/* resolution */
html, body {
  height: 100%; }

body, p, input, button, select, textarea {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 20px;
  line-height: 2.5rem;
  font-family: 'lato', 'helvetica', 'arial', 'sans-serif';
  color: color(font, p); }

article p, form {
  max-width: 600px;
  max-width: 37.5rem;
  margin: 20px auto; }

a {
  color: color(font, a);
  text-decoration: underline; }
  a:hover {
    text-decoration: none; }

h1 {
  font-size: 51.2px;
  font-size: 3.2rem;
  line-height: 51.2px;
  line-height: 6.4rem; }

h2 {
  font-size: 32px;
  font-size: 2rem;
  line-height: 32px;
  line-height: 4rem; }

small {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 12px;
  line-height: 1.5rem; }

input._danger, textarea._danger, label._danger, select._danger {
  border-color: color(font, danger) !important; }

textarea {
  height: 200px;
  padding-top: 10px;
  padding-bottom: 10px; }

button._btn {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid color(font, p);
  background-color: color(font, p);
  color: color(background, base);
  text-align: center;
  text-transform: capitalize; }
  button._btn:hover {
    background-color: transparent;
    color: color(font, p); }
  button._btn._revers {
    background-color: transparent;
    color: color(font, p); }
    button._btn._revers:hover {
      background-color: color(font, p);
      color: color(background, base); }

.keyline {
  width: 60%;
  height: 1px;
  background-color: #333;
  opacity: 0.2;
  filter: alpha(opacity=20);
  margin: 40px auto;
  clear: both;
  zoom: 1; }
  .keyline:before, .keyline:after {
    content: " ";
    display: table; }
  .keyline:after {
    clear: both;
    line-height: 0;
    visibility: hidden; }

.wrap {
  width: 1200px;
  margin: 0 auto; }
  @media only screen and (max-width: 1200px) {
    .wrap {
      width: 100%;
      padding-left: 10px;
      padding-right: 10px; } }

._trs, a, button._btn {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out; }

.__btn {
  cursor: pointer;
  display: block; }

._border, ._champ, ._textarea, form.contact-form textarea, form.contact-form input, form.contact-form select {
  border: 1px solid #eee; }

._champ, ._textarea, form.contact-form textarea, form.contact-form input, form.contact-form select {
  width: 100%;
  height: 40px;
  margin-bottom: 20px; }

._textarea, form.contact-form textarea {
  height: 100%; }

body {
  background: #333; }

.row {
  clear: both;
  zoom: 1;
  width: 100%; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both;
    line-height: 0;
    visibility: hidden; }
  .row * {
    float: left;
    padding-left: 10px;
    padding-right: 10px; }
  .row .s1 {
    width: 100%; }
  .row .s2 {
    width: 50%; }

header {
  width: 100%;
  height: 100%; }

nav.main-nav {
  clear: both;
  zoom: 1;
  background-color: #212121;
  height: 60px; }
  nav.main-nav:before, nav.main-nav:after {
    content: " ";
    display: table; }
  nav.main-nav:after {
    clear: both;
    line-height: 0;
    visibility: hidden; }
  nav.main-nav li {
    float: left;
    padding: 10px; }
    nav.main-nav li:first-child {
      padding-left: 0; }
    nav.main-nav li:last-child {
      padding-right: 0; }
    nav.main-nav li._r {
      float: right !important; }
    nav.main-nav li a {
      color: #f1f3f9;
      text-decoration: none; }
      nav.main-nav li a.selected {
        color: #D32F2F; }
      nav.main-nav li a::first-letter {
        text-transform: uppercase; }

/*# sourceMappingURL=app.css.map */