body { background: #333; }

form .row {
	.columns { padding-left:  0 !important; padding-right: 0 !important; }
}

*.button { color: color(font,p); 
	&:hover, &.active { background: color(background, clear); color: color(font, form); }
}

header { 
	@include size(100%);
}

.flash { @include size(100%,auto); @include pos(fixed,0,0,auto); 
	ul { @include size(100%);
		li { text-align: center; @include line-height(20); color: color(font,p); display: block;
			&.error   { background-color: color(background, error); }
			&.success { background-color: color(background, success); }
		}
	}
}
input {
	&.error   { border-color: color(background, error); }
	&.success { border-color: color(background, success); }
}

nav.main-nav { 
	@include clearfix; background-color: color(background,darkgrey); height: 60px;
	li { float: left; padding: 10px;
		&:first-child { padding-left:  0; }
		&:last-child  { padding-right: 0; }
		&._r { float: right !important; }
		a { color: color(font,a); text-decoration: none; 
			&.selected { color: color(font, selected); }
			&::first-letter { text-transform: uppercase; }
		}
	}
}

@import "home";
@import "contact";
@import "admin";